.App,
.menu-container {
  color: white;
  text-align: center;
  position: relative;
  background-image: url("../../Assets/background/board.jpg");
  background-size: cover; /* Scale the image to fit within the area */
  background-repeat: no-repeat;
  background-attachment: scroll; /* The background scrolls with the element */
  width: 100vw; /* Fixed width */
  height: 100vh; /* Fixed height */
  border-radius: 12px;
  box-shadow: 20px 10px 10px 10px rgba(0, 0, 0, 0.5);
  margin: auto; /* Center the app */
}

.deck {
  background-color: rgb(244, 194, 194);
  margin: 10%;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50%; /* Adjust as needed */
}

.ai-hands-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(118, 80, 241);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  font-weight: bold;
  height: 50px;
  opacity: 0.9;
  z-index: 2;
  width: 350px;
}
.message {
  white-space: pre-line;
}
.game-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 15px 10px 15px;
  height: 170px;
}
@media screen and (max-width: 608px) {
  .game-actions {
    margin: 140px 15px 10px 15px;
  }
}
