.menu-container {
  background-image: url("../../Assets/background/board.jpg");
}
.rules-container {
  max-height: 950px;
  overflow-y: auto;
  padding: 35px;
  margin: 10px;
  box-sizing: border-box;
  background-color: rgb(118, 80, 241, 0.8);
}
.rules-container h1 {
  border-bottom: 1px solid white;
  padding: 20px;
}
.rules-container h1,
h2 {
  text-align: center;
}
.rules-container {
  text-align: left;
}
