.actions-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions,
.actions-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(167, 143, 246, 0.3);
  height: 100%;
  padding: 3%;
  width: 100%;
  animation: slideInFromTop 0s ease-out forwards;
  z-index: 1;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.actions button,
.actions-block button {
  margin: 5px;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
