.board {
  display: flex;
  justify-content: space-between;
}

.ai-deck {
  flex: 1;
  margin: 20px;
}

.ai-deck .cards {
  display: flex;
  align-items: center;
}

.ai-deck .card {
  margin-right: -20px;
  position: relative;
  z-index: 1;
}

.ai-deck .card img {
  width: 80px; /* adjust size  */
  height: auto;
  object-fit: contain;
}

.ai-deck .card:nth-child(1) {
  z-index: 1;
}

.ai-deck .card:nth-child(2) {
  margin-top: -20px; /* Raise second card */
  z-index: 2;
}

.ai-deck .card:nth-child(3) {
  z-index: 3;
}
