.user-deck {
  border: grey 1px solid;
  border-radius: 30px;
  padding: 10px; /* Add some padding */
  height: 290px;
  width: 350px;
  margin: 10px;
}

.user-deck .cards {
  /* Set a minimum size for the container */
  min-width: 170px; /* For example, slightly larger than one card width + margin */
  min-height: 320px; /* Slightly larger than one card height + margin */
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next line if needed */
}

.user-deck .card {
  width: 150px;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

.user-deck .card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
