.App {
  text-align: center;
  position: relative;
  background-image: url("./Assets/background/board.jpg");
  background-size: 100vw 100vh; /* Adjusts the size of the image relative to the viewport */
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 90vw; /* Adjust the width as needed */
  height: 90vh; /* Adjust the height as needed */
  border-radius: 60px;
  box-shadow: 80px 10px 10px 10px rgba(0, 0, 0, 0.5);
  margin: 5vh auto; /* Center the app and provide some vertical margin */
}

.deck {
  background-color: rgb(244, 194, 194);
  margin: 10%;
}
.card {
  background-color: orange;
}
